.nav ul {
  -webkit-padding-start: 0; }
  .nav ul li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 15px;
    padding: 10px 0; }
    .nav ul li a {
      color: #000; }

.nav .tels li.not {
  display: none; }
  .nav .tels li.not.show {
    display: block; }

.thank {
  margin-top: 45px;
  margin-bottom: 45px; }
  .thank .intro {
    margin-top: 5px; }
    .thank .intro p {
      line-height: 20px;
      margin-bottom: 10px; }

h1 {
  color: #2594ff;
  margin-bottom: 25px; }

.what-next {
  margin-top: 45px; }

.about p, .next p, .count p, .thank p {
  margin: 0; }

.rel {
  position: relative; }

#about-us {
  border-left: 4px solid #2594ff;
  padding-left: 15px; }
  #about-us p {
    font-style: italic;
    font-weight: bold; }

.about-flex {
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 50px;
  margin: 50px 0; }

.flex-around {
  justify-content: space-between;
  align-items: center; }

.team {
  width: 150px; }

.flex {
  display: flex; }

#intime {
  background: #eee;
  padding: 25px 10px; }
  #intime h3 {
    font-size: 21px;
    font-weight: bold; }

.count {
  background: #cee7ff;
  border-radius: 10px;
  text-align: center; }
  .count .head, .count .footer {
    color: #04284c; }
  .count .head {
    border-right-top-radius: 4px; }
  .count .head, .count .body, .count .footer {
    padding: 5px 10px;
    font-weight: bold; }
  .count .head, .count .body {
    border-bottom: 1px solid #aad5ff; }
  .count .body {
    overflow: hidden;
    height: 70px; }
    .count .body p {
      font-size: 45px;
      margin: 0;
      line-height: 1;
      font-weight: normal; }
    .count .body .start {
      margin-top: -46px; }
    .count .body .end {
      margin-bottom: -9px; }
    .count .body .end, .count .body .start {
      transition: all 0.5s cubic-bezier(0.6, -0.28, 0.74, 0.05); }

.next {
  position: relative;
  background: #eee;
  display: inline-block;
  display: none;
  padding: 25px 35px;
  margin: 50px 100px 25px 50px; }
  .next:before {
    content: "";
    background: url("../img/arrow.png");
    width: 40px;
    height: 170px;
    display: block;
    position: absolute;
    right: 0px;
    bottom: -65px;
    transform: rotate(-45deg) scale(-1, 1); }
  .next:after {
    background: url("../img/arrow.png");
    width: 40px;
    height: 170px;
    display: block;
    position: absolute;
    right: -40px;
    top: -25px;
    transform: rotate(100deg) scale(1, -1); }

.calendar {
  border-collapse: separate;
  border-spacing: 3px;
  border-radius: 10px; }
  .calendar th, .calendar td {
    min-width: 50px;
    height: 50px;
    padding: 5px;
    position: relative; }
  .calendar th {
    height: 25px;
    border-bottom: 1px solid #ddd; }
  .calendar .date {
    position: absolute;
    font-size: 12px;
    left: 5px;
    top: 3px;
    color: #6d6d6d; }
  .calendar td.dis {
    background: #ddd;
    border-radius: 10px; }
  .calendar td:not(.dis) {
    background: #cee7ff;
    border-radius: 10px; }
    .calendar td:not(.dis):hover {
      background: #87C4FF;
      cursor: pointer;
      position: relative; }
      .calendar td:not(.dis):hover:after {
        content: "\f055";
        font-family: 'Font Awesome 5 Free';
        font-weight: bold;
        font-size: 25px;
        text-align: center;
        display: block;
        color: #0C5AA6;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 12px); }

td p {
  text-align: right;
  margin: 0;
  display: inline-block; }

span.ok, span.pending {
  color: green; }
  span.ok:before, span.pending:before {
    content: "\f192";
    font-size: 8px;
    font-family: 'Font Awesome 5 Free';
    font-weight: bold; }

span.pending {
  color: orange; }

.legend span {
  width: 25px;
  height: 5px; }

.legend p {
  margin: 0;
  font-style: italic;
  font-size: 14px; }

.legend .dis-span {
  background: #b1b1b1;
  height: 10px; }

#about-consultation {
  font-size: 14px;
  padding: 25px 15px 0 0; }

.shedule {
  position: absolute;
  width: 100%;
  z-index: 99999; }
  .shedule p {
    margin: 0; }

.corner {
  background: #2594ff;
  border-radius: 10px;
  padding: 10px 15px;
  position: relative;
  color: #fff; }
  .corner:after {
    content: '';
    position: absolute;
    left: -20px;
    top: 20px;
    border: 10px solid transparent;
    border-right: 10px solid #2594ff; }

.progress-bar {
  background: #2594ff; }

.progress {
  margin-bottom: 15px; }

.form-item {
  margin-bottom: 15px; }
  .form-item b {
    display: block;
    margin-bottom: 5px; }
  .form-item.lb label {
    display: block; }
  .form-item input[type=checkbox], .form-item input[type=radio] {
    margin-right: 2px; }
  .form-item label {
    margin-right: 10px; }
