<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CRM new</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="css/all.css" rel="stylesheet"> 
	<link rel="stylesheet" href="css/main.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-12 text-right"><br>TOP panel</div><br></div>
		</div>
	</div>
	<div class="navig">
	<div class="container">
		<div class="row">
			<div class="col-6"><nav class="nav">
  <a class="nav-link" href="#">Главная</a>
  <a class="nav-link" href="#">Список дел</a>
  <a class="nav-link" href="#">Запросы</a>
  <a class="nav-link" href="/crm.html">Контакты</a>
  <a class="nav-link active" href="/crm-profile.html">профайл</a>
</nav></div>
			<div class="col-2"></div>
		</div>
	</div>
	</div>
	<div class="container"><br><br>
<div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
      <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home"><i class="fa-star fas"></i> Анкеты</a>
      <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile"><i class="fa-star fas"></i> Текущие</a>
      <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Потенциальные</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Клиенты</a>
      <a class="list-group-item list-group-item-action" id="list-settings-list2" data-toggle="list" href="#list-settings2" role="tab" aria-controls="settings">ЛидЫ</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade " id="list-home-1" role="tabpanel" aria-labelledby="list-home-list">последние открытые</div>
      <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list" >
        <table class="table table-bordered active-mode">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">#</th>
              <th scope="col">Surname</th>
              <th scope="col">Year of Birth</th>
              <th scope="col">Status</th>
              <th scope="col">Link <i class="fas fa-external-link-alt"></i></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="item in tableRows" :class="{'active':handlerRowItem===item.id}">
              <th scope="row"><input type="radio" name="handlerRowItem" :value='item.id' v-model="handlerRowItem"></th>
              <th scope="row">{{item.id}}</th>
              <td>{{item.surname}}</td>
              <td>{{item.password}}</td>
              <td>{{item.status}}</td>
              <td><a :href="'http://apply.edusteps.com.ua/applications/'+item.code" >{{item.code}}</a>
                <span class="hidden-span" :id="'link-'+item.id">{{'http://apply.edusteps.com.ua/applications/'+item.code}}</span></td>
              <td><a href="#" @click="copyToClip('link-'+item.id)"><i class="fas fa-copy"></i></a> </td>

            </tr>
        </tbody>
      </table>
      <template v-if="handlerRowItem">
      <div class="table-tools">
        <ul>
           <li><b>Управление:</b></li>
          <li><a href="#" class="view" :data-id="handlerRowItem">Открыть в CRM</a></li>
          <li><a href="#" class="del" :data-id="handlerRowItem">Удалить</a></li>
          <li class="last"><a href="#" @click="handlerRowItem = null">Отменить выделение</a></li>
        </ul>
      </div>
      </template>
      <template v-else>
      <div class="table-tools no-active">
        <ul>
          <li><b>Управление:</b></li>
          <li>Открыть в CRM</li>
          <li>Удалить </li>
          <li class="last">Отменить выделение </li>
        </ul>
      </div>
      </template>
      </div>
      <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
      <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
      <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
      <div class="tab-pane fade" id="list-settings2" role="tabpanel" aria-labelledby="list-settings-list">...</div>
    </div>
  </div>
</div>
	</div>
	<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="appAddContact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Создать контакт</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="radio-toggles">
         <div :class="{'active':typeForm==='crm'}">
            <label>
              <input type="radio" name="typeForm" value="crm" v-model="typeForm">
            Создать профайл в CRM</label>
          </div>
         <div :class="{'active':typeForm==='apply'}">
            <label >
              <input type="radio" name="typeForm" value="apply" v-model="typeForm">
            Выставить форму</label>
          </div>
        </div>
          <template v-if="typeForm==='crm'">
            <div class="form-group">
              <label>Прізвище та ім'я</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Телефон</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>E-mail</label>
              <input type="email" class="form-control">
            </div>
            <div class="form-check">
              <label>
              <input  type="radio" name="isstudent" value="student" checked="" />
                Студент
              </label>
              <label >
              <input type="radio" name="isstudent" value="parent" />
                Родитель
              </label>
            </div>
              <div class="form-check">
              <label>
              <input  type="checkbox" name="go" checked="" />
                Перейти в карточку контакта
              </label>
          </template>
          <template v-else>
             <div class="form-group">
              <label>Прізвище (лат.літерами)</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Пароль (рік народження):</label>
              <input type="text" class="form-control">
            </div>
          </template>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> 
<script>
  var vm = new Vue({
    el: '#appAddContact',
    data: {
      typeForm: 'crm',
    }
  });
  var db = [
    { id: 1,
      surname: 'Shevchenko',
      password: '2002',
      status: 'Incomplete',
      code: 'MXxTaGV2Y2hlbmtvfDIwMDI='},
    { id: 2,
      surname: 'Franko',
      password: '2000',
      status: 'Incomplete',
      code: 'MnxGcmFua298MjAwMA=='},
    ]
  var vm2 = new Vue({
    el: '#list-home',
    data: {
      handlerRowItem: null,
      tableRows: db,
    },
    methods: {
      copyToClip(id){
var ta = document.getElementById(id);
var range = document.createRange(); 
  range.selectNode(ta); 
  window.getSelection().addRange(range); 
    try { 
    document.execCommand('copy'); 
  } catch(err) { 
    alert('Не получилось'); 
  }   window.getSelection().removeAllRanges();      
      }
    }
  })
</script>
</body>
</html>