<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Profile new</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link href="css/all.css" rel="stylesheet"> 
	<link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/profile.css">
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-12 text-right"><br>TOP panel</div><br></div>
		</div>
	</div>
	<div class="navig">
	<div class="container">
		<div class="row">
			<div class="col-6"><nav class="nav">
  <a class="nav-link" href="#">Главная</a>
  <a class="nav-link" href="#">Список дел</a>
  <a class="nav-link" href="#">Запросы</a>
  <a class="nav-link" href="/crm.html">Контакты</a>
  <a class="nav-link active" href="/crm-profile.html">профайл</a>
</nav></div>
			<div class="col-2"></div>
		</div>
	</div>
	</div>
	<div class="container-fluid" id="app"><br><br>
		<div class="row">
    <div class="col-12">
      <ul class="profile-top">
        <li id="studentName"> <h5>Students`s Surname Name</h5></li>
        <li id="studentTel"><i class="fas fa-phone-square-alt"></i> 0987654321</li>
        <li id="studentEmail"><i class="fas fa-at"></i> student@gmail.com</li>
        <li id="studentControl"><b>Тип:</b> <span>Клиент</span></li>
        <li><b>Менеджер:</b> <span>Назнaчить</span></li>
        <li><b>Текущий:</b> <span>Да</span></li>
      </ul>
    </div>  
  </div>
  <div class="row">
    <div class="col-8">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">ToDo List</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Анкета</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Enrollment</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div class="row">
      <div class="col-4">
        <div >
        <h5>Заметки <i class="fas fa-plus-circle"></i></h5>

        <hr>
          <ul class="history">
            <li>Created <i>12-08-2019</i> </li>
          </ul>
        </div>
      </div>
      <div class="col-8">
        <h5>Текущие задачи</h5>
        <p>Создать напоминание <i class="fas fa-plus-circle"></i></p>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">...</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <p class="ul-title"><b>Кабинет клиента: </b> <a href="#" @click="copyToClip('link-'+item.id)"> <i class="fas fa-copy"></i></a></p>
        <ul>
          <li><b>login:</b> Surname</li>
          <li><b>pass:</b> 2002</li>
          <li> <a href="#">ссылка</a></li>
        </ul>
    <ul>
      <li v-for="(value, name) in fields"><b>{{studentSet[name.slice(0, name.indexOf('_'))] }}</b> <span>{{ value }}</span> </li>
    </ul>
  </div>
</div>
    </div>
    <div class="col-4">
      <div class="card">
        <div class="card-header bg-success bg-parents">Родители</div>
        <div class="card-body">
           <p class="text-right"><a href="#" @click="addSet('student')">Добавить</a> </p>
      <template >
<!--         <div :class="['form-group ',item.key]" v-for="item in studentAppFields" :key="item.key">
  <label>{{ item.label }}</label>
  <input type="text" class="form-control" v-model="studentAppAnswers[item.key]">
</div> -->
      </template>
        
        </div>
      </div>
    </div>  
    </div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script> 

<script src="js/apply.js"></script> 

</body>
</html>